<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.dao.WlAdminMapper">
  <resultMap id="BaseResultMap" type="test.entity.WlAdmin">
    <id column="admin_id" jdbcType="VARCHAR" property="admin_id" />
    <result column="admin_name" jdbcType="VARCHAR" property="admin_name" />
    <result column="admin_sex" jdbcType="INTEGER" property="admin_sex" />
    <result column="user_id" jdbcType="VARCHAR" property="user_id" />
    <result column="admin_start" jdbcType="INTEGER" property="admin_start" />
    <result column="admin_city" jdbcType="VARCHAR" property="admin_city" />
    <result column="admin_address" jdbcType="VARCHAR" property="admin_address" />
    <result column="admin_pwd" jdbcType="VARCHAR" property="admin_pwd" />
    <result column="admin_phone" jdbcType="VARCHAR" property="admin_phone" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from wl_admin
    where admin_id = #{admin_id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="test.entity.WlAdmin">
    insert into wl_admin (admin_id, admin_name, admin_sex, 
      user_id, admin_start, admin_city, 
      admin_address, admin_pwd, admin_phone, 
      note)
    values (#{admin_id,jdbcType=VARCHAR}, #{admin_name,jdbcType=VARCHAR}, #{admin_sex,jdbcType=INTEGER}, 
      #{user_id,jdbcType=VARCHAR}, #{admin_start,jdbcType=INTEGER}, #{admin_city,jdbcType=VARCHAR}, 
      #{admin_address,jdbcType=VARCHAR}, #{admin_pwd,jdbcType=VARCHAR}, #{admin_phone,jdbcType=VARCHAR}, 
      #{note,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="test.entity.WlAdmin">
    update wl_admin
    set admin_name = #{admin_name,jdbcType=VARCHAR},
      admin_sex = #{admin_sex,jdbcType=INTEGER},
      user_id = #{user_id,jdbcType=VARCHAR},
      admin_start = #{admin_start,jdbcType=INTEGER},
      admin_city = #{admin_city,jdbcType=VARCHAR},
      admin_address = #{admin_address,jdbcType=VARCHAR},
      admin_pwd = #{admin_pwd,jdbcType=VARCHAR},
      admin_phone = #{admin_phone,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR}
    where admin_id = #{admin_id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select admin_id, admin_name, admin_sex, user_id, admin_start, admin_city, admin_address, 
    admin_pwd, admin_phone, note
    from wl_admin
    where admin_id = #{admin_id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select admin_id, admin_name, admin_sex, user_id, admin_start, admin_city, admin_address, 
    admin_pwd, admin_phone, note
    from wl_admin
  </select>
</mapper>