<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.dao.WlCarMapper">
  <resultMap id="BaseResultMap" type="test.entity.WlCar">
    <id column="car_id" jdbcType="VARCHAR" property="car_id" />
    <result column="car_model" jdbcType="VARCHAR" property="car_model" />
    <result column="produce_place" jdbcType="VARCHAR" property="produce_place" />
    <result column="route_num" jdbcType="VARCHAR" property="route_num" />
    <result column="produce_date" jdbcType="TIMESTAMP" property="produce_date" />
    <result column="buy_date" jdbcType="TIMESTAMP" property="buy_date" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from wl_car
    where car_id = #{car_id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="test.entity.WlCar">
    insert into wl_car (car_id, car_model, produce_place, 
      route_num, produce_date, buy_date, 
      note)
    values (#{car_id,jdbcType=VARCHAR}, #{car_model,jdbcType=VARCHAR}, #{produce_place,jdbcType=VARCHAR}, 
      #{route_num,jdbcType=VARCHAR}, #{produce_date,jdbcType=TIMESTAMP}, #{buy_date,jdbcType=TIMESTAMP}, 
      #{note,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="test.entity.WlCar">
    update wl_car
    set car_model = #{car_model,jdbcType=VARCHAR},
      produce_place = #{produce_place,jdbcType=VARCHAR},
      route_num = #{route_num,jdbcType=VARCHAR},
      produce_date = #{produce_date,jdbcType=TIMESTAMP},
      buy_date = #{buy_date,jdbcType=TIMESTAMP},
      note = #{note,jdbcType=VARCHAR}
    where car_id = #{car_id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select car_id, car_model, produce_place, route_num, produce_date, buy_date, note
    from wl_car
    where car_id = #{car_id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select car_id, car_model, produce_place, route_num, produce_date, buy_date, note
    from wl_car
  </select>
</mapper>