<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.dao.WlDareaMapper">
  <resultMap id="BaseResultMap" type="test.entity.WlDarea">
    <id column="darea_id" jdbcType="INTEGER" property="darea_id" />
    <result column="darea_name" jdbcType="VARCHAR" property="darea_name" />
    <result column="darea_price" jdbcType="DECIMAL" property="darea_price" />
    <result column="city_id" jdbcType="VARCHAR" property="city_id" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wl_darea
    where darea_id = #{darea_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="test.entity.WlDarea">
    insert into wl_darea (darea_id, darea_name, darea_price, 
      city_id, note)
    values (#{darea_id,jdbcType=INTEGER}, #{darea_name,jdbcType=VARCHAR}, #{darea_price,jdbcType=DECIMAL}, 
      #{city_id,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="test.entity.WlDarea">
    update wl_darea
    set darea_name = #{darea_name,jdbcType=VARCHAR},
      darea_price = #{darea_price,jdbcType=DECIMAL},
      city_id = #{city_id,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR}
    where darea_id = #{darea_id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select darea_id, darea_name, darea_price, city_id, note
    from wl_darea
    where darea_id = #{darea_id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select darea_id, darea_name, darea_price, city_id, note
    from wl_darea
  </select>
</mapper>