<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.dao.WlDistributionMapper">
  <resultMap id="BaseResultMap" type="test.entity.WlDistribution">
    <id column="distribution_id" jdbcType="INTEGER" property="distribution_id" />
    <result column="distribution_name" jdbcType="VARCHAR" property="distribution_name" />
    <result column="province_id" jdbcType="VARCHAR" property="province_id" />
    <result column="city_id" jdbcType="VARCHAR" property="city_id" />
    <result column="admin_id" jdbcType="VARCHAR" property="admin_id" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="distribution_address" jdbcType="VARCHAR" property="distribution_address" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wl_distribution
    where distribution_id = #{distribution_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="test.entity.WlDistribution">
    insert into wl_distribution (distribution_id, distribution_name, 
      province_id, city_id, admin_id, 
      phone, distribution_address, note
      )
    values (#{distribution_id,jdbcType=INTEGER}, #{distribution_name,jdbcType=VARCHAR}, 
      #{province_id,jdbcType=VARCHAR}, #{city_id,jdbcType=VARCHAR}, #{admin_id,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{distribution_address,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="test.entity.WlDistribution">
    update wl_distribution
    set distribution_name = #{distribution_name,jdbcType=VARCHAR},
      province_id = #{province_id,jdbcType=VARCHAR},
      city_id = #{city_id,jdbcType=VARCHAR},
      admin_id = #{admin_id,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      distribution_address = #{distribution_address,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR}
    where distribution_id = #{distribution_id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select distribution_id, distribution_name, province_id, city_id, admin_id, phone, 
    distribution_address, note
    from wl_distribution
    where distribution_id = #{distribution_id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select distribution_id, distribution_name, province_id, city_id, admin_id, phone, 
    distribution_address, note
    from wl_distribution
  </select>
</mapper>