<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.dao.WlReciptMapper">
  <resultMap id="BaseResultMap" type="test.entity.WlRecipt">
    <id column="origin_city" jdbcType="VARCHAR" property="origin_city" />
    <result column="terminus_city" jdbcType="VARCHAR" property="terminus_city" />
    <result column="arrived_city" jdbcType="VARCHAR" property="arrived_city" />
    <result column="recipt_status" jdbcType="INTEGER" property="recipt_status" />
    <result column="recipt_time" jdbcType="TIMESTAMP" property="recipt_time" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from wl_recipt
    where origin_city = #{origin_city,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="test.entity.WlRecipt">
    insert into wl_recipt (origin_city, terminus_city, arrived_city, 
      recipt_status, recipt_time, note
      )
    values (#{origin_city,jdbcType=VARCHAR}, #{terminus_city,jdbcType=VARCHAR}, #{arrived_city,jdbcType=VARCHAR}, 
      #{recipt_status,jdbcType=INTEGER}, #{recipt_time,jdbcType=TIMESTAMP}, #{note,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="test.entity.WlRecipt">
    update wl_recipt
    set terminus_city = #{terminus_city,jdbcType=VARCHAR},
      arrived_city = #{arrived_city,jdbcType=VARCHAR},
      recipt_status = #{recipt_status,jdbcType=INTEGER},
      recipt_time = #{recipt_time,jdbcType=TIMESTAMP},
      note = #{note,jdbcType=VARCHAR}
    where origin_city = #{origin_city,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select origin_city, terminus_city, arrived_city, recipt_status, recipt_time, note
    from wl_recipt
    where origin_city = #{origin_city,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select origin_city, terminus_city, arrived_city, recipt_status, recipt_time, note
    from wl_recipt
  </select>
</mapper>